<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
    <meta charset="UTF-8">
    <title>Gestion des cabinets</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.min.css}">
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
    </style>
</head>

<body>

    <header th:replace="~{fragments/header :: header}"></header>

    <div class="container mt-4">
        <main th:replace="${content}"></main>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script th:src="@{/js/bootstrap.bundle.js}"></script>

</body>

</html>