<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main :: layout(~{::main})}">
<head>
    <title>Liste des consultations</title>
</head>
<body>

<main>
    <h3>Liste des consultations</h3>
    <a th:href="@{/consultations/new}" class="btn btn-primary mb-3">Nouvelle consultation</a>

<table  class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Description</th>
        <th>Patient</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${consultations}">
        <td th:text="${c.id}"></td>
        <td th:text="${#dates.format(c.date, 'dd-MM-yyyy')}"></td>
        <td th:text="${c.description}"></td>
        <td th:text="${c.patient.nom}"></td>
        <td>

            <a th:href="@{/consultations/edit/{id}(id=${c.id})}"
               class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i> Modifier</a>

            <a th:href="@{/consultations/delete/{id} (id=${c.id})}"
               class="btn btn-danger btn-sm"
               onclick="return confirm('Êtes-vous sûr ?')"><i class="bi bi-trash"></i> Supprimer</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>