<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h3>Liste des patients</h3>
    <a th:href="@{/patients/new}">Nouveau patient</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${patients}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.nom}"></td>
                <td th:text="${p.prenom}"></td>
                <td th:text="${p.tel}"></td>
                <td th:text="${p.email}"></td>
                <td><a th:href="@{/patients/delete/{id} (id=${p.id})}">supprimer</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>